@model CommercialAutomation.Models.Classes.Staff
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<center style="border:double;"><h2>Yeni Ürün Ekle</h2></center>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.StaffName)
    @Html.TextAreaFor(x => x.StaffName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StaffSurname)
    @Html.TextAreaFor(x => x.StaffSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StaffImage)
    @Html.TextAreaFor(x => x.StaffImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Department.DepartmentID)
    @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
   

    <br />
    <button class="btn btn-info">Ekle</button>

</form>

