@using CommercialAutomation.Models.Classes
@model List<Staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">

    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Resim</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satış Geçmişi</th>
    </tr>


    @foreach (var v in Model)
    {
        <tr>
            <td>@v.StaffID</td>
            <td>@v.StaffName</td>
            <td>@v.StaffSurname</td>
            <td><a href="@v.StaffImage" target="_blank"><img src="@v.StaffImage" style="width:80px;height:80px;" /></a></td>
            <td>@v.Department.DepartmentName</td>
            <td><a href="/Staff/GetStaff/@v.StaffID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Department/DepartmentStaffSales/@v.StaffID" class="btn btn-success" style="background-color:blue;">Satış Geçmişi</a></td>

        </tr>
    }

</table>
<a href="/Staff/AddStaff" class="btn btn-primary">Cari Ekle</a>



